{{define "footer"}}
<div id="footer">
	<ul>
		<li><a href="https://blip.game">blip.game</a></li><!--
		--><li><a href="https://x.com/__blip">Follow us on Twitter</a></li><!--
		--><li><a href="https://www.instagram.com/cu.bzh/">Follow us on Instagram</a></li><!--
		--><li><a href="https://discord.gg/blipgame">Join us on Discord</a></li>
	</ul>
</div>
{{end}}
