.DS_Store
.env
ios-macos/Particubes/env.xcconfig
.vscode
*.xcuserdatad
*.o
*.so
*.so.*
*.obj
*.tlog
*.ipch
*.db
*.ilk

# -------------------------------------
# Go
# -------------------------------------
# deps vendoring
go/**/vendor
# builder tool
go/cu.bzh/distribution/builder/xcode_build_output

/android/.idea/dictionaries
/xptools/linux/xptools.a
/common/bgfx/bgfx/tools/bin/darwin
/common/Lua/liblua.a

/common/VXGameServer/gameserver
*.aps
/ios-macos/deps
/.vs/slnx.sqlite
/xptools/windows/bundle_tar_gz.hpp
android/app/release/
common/bgfx/bgfx/tools/bin/windows/
# servers
/servers/hub-fdb/data

android/.idea/deploymentTargetDropDown.xml

ios-macos/particubes.xcworkspace/xcshareddata/swiftpm/Package.resolved

# TODO: could not find why the Windows/freetype solution still outputs in this folder
windows/objs

env/envvars.h
